<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>passchip.jsp</welcome-file>
    <welcome-file>postgen.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>passchip</servlet-name>
    <servlet-class>com.appspot.passchip_service.PasschipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passchip</servlet-name>
    <url-pattern>/passchip</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>idtest</servlet-name>
    <servlet-class>com.appspot.passchip_service.WorksheetIDGettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idtest</servlet-name>
    <url-pattern>/idtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YalinServlet</servlet-name>
    <servlet-class>com.appspot.passchip_service.YalinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YalinServlet</servlet-name>
    <url-pattern>/Yalin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>com.appspot.passchip_service.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/VerifyServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>SetupCommunity</display-name>
    <servlet-name>SetupCommunity</servlet-name>
    <servlet-class>com.appspot.passchip_service.SetupCommunity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupCommunity</servlet-name>
    <url-pattern>/SetupCommunity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupUser</display-name>
    <servlet-name>SetupUser</servlet-name>
    <servlet-class>com.appspot.passchip_service.SetupUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupUser</servlet-name>
    <url-pattern>/SetupUser</url-pattern>
  </servlet-mapping>
</web-app>